/* CONTACTOO */
.form-group {
    margin-bottom: 15px;
}
label {
    font-size: 16px;
    color: #333;
    display: block;
    margin-bottom: 5px;
}
input, textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
}
textarea {
    resize: vertical;
}
button {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 12px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 4px;
    cursor: pointer;
}
button:hover {
    background-color: #45a049;
}